.card {
    width: 500px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-block: 1rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 1rem;
}

.card--light {
    background: #EBECEF;
    color: #202B3B;
}
.card--dark {
    background: #202B3B;
    color: #F0F1F1;
}

.card__city {
    font-size: 2rem;
}

.card__conditions {
    font-size: 1rem;
}

.card__temp {
    font-size: 3rem;
}