.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}